In [1]:
import warnings             # Ignorando avisos desnecessários
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

# Importando as bibliotecas necessárias
import numpy as np           # álgebra linear
import pandas as pd          # manipulação e leitura de dados

import matplotlib.pyplot as plt     # visualização
# Informar ao matplotlib sobre os gráficos inline
%matplotlib inline      

import seaborn as sns      # visualização
sns.set()

from scipy.stats import binom
import math

import glob
import os

### Maneiras diferentes de usar o ``value_counts()``

In [4]:
idades = [15,15,15,17,17,20,24,24,24,24]   # rol, conjunto de dados
numeros_para_linhas = np.arange(1,11,1)   # variável que contém nossas linhas
coluna = ['Idades']                  # variável que contém nossas colunas

# montando o dataframe, que receberá os dados armazenados na variável 'df'
df = pd.DataFrame(data = idades, index = numeros_para_linhas, columns = coluna)
df

    Idades
1       15
2       15
3       15
4       17
5       17
6       20
7       24
8       24
9       24
10      24

#### 1º Maneira

In [5]:
df.apply(pd.value_counts)

    Idades
24       4
15       3
17       2
20       1

Já sai os valores ``unique()`` na coluna da esquerda e as frequências ($f_i$) na coluna da direita.

#### 2º Maneira

In [6]:
pd.value_counts(df['Idades'])

24    4
15    3
17    2
20    1
Name: Idades, dtype: int64

Sai no formato ``pd.Series``. Não é ruim. Mesma configuração final que na 1º maneira. Em termos de colunas.

#### 3º Maneira

In [7]:
agrupado = df.groupby('Idades')
agrupado.count()

Empty DataFrame
Columns: []
Index: [15, 17, 20, 24]

Utilizando ``groupby()`` e depois fazendo um ``count()``. Interessante também.

<hr>

##### Separando cada elemento dentro de uma ``string``.

In [10]:
line="a sentence with a few words"
line.split()

['a', 'sentence', 'with', 'a', 'few', 'words']

##### Separando por varredura cada caracter de uma ``string``.

In [13]:
musica = "Eduardo e Monica um dia se encontraram sem querer..."
for i in musica:
    print(i, end = ',')

E,d,u,a,r,d,o, ,e, ,M,o,n,i,c,a, ,u,m, ,d,i,a, ,s,e, ,e,n,c,o,n,t,r,a,r,a,m, ,s,e,m, ,q,u,e,r,e,r,.,.,.,

##### Separando por meio de uma busca lógica. Onde houver ``se`` a ``string`` será dividida.

In [11]:
musica = "Eduardo e Monica um dia se encontraram sem querer..."
lista_palavras = musica.split("se")
print(lista_palavras)

['Eduardo e Monica um dia ', ' encontraram ', 'm querer...']

<hr>